target/
**/*.rs.bk
Cargo.lock

*.rlib
*.rmeta

.env
.env.*
!.env.example

/db_data/
*.pid
*.tar
docker-compose.override.yml

*.sql~
*.dump
*.backup

*.conf~
logs/
nginx/logs/
access.log
error.log

.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.swp
*.swo

*.log
/logs
tmp/
temp/
.cache/
.DS_Store
Thumbs.db

/coverage/
*.profraw
*.profdata

/dist/
node_modules/
